<nav class="navbar navbar-expand-lg navbar-dark navbarColor total">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#"><img src='../../../assets/logo/logoNavbar.png' class=" img-fluid" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
     
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link colorLink" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <!-- nuestras web -->
          <li class="nav-item dropdown ">
            <a class="nav-link colorLink dropdown-toggle" routerLink="/inicio" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nuestras web's
            </a>
            <ul class="dropdown-menu navbar-color shadow borderColor" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item colorLink" href="https://www.launivirtual.edu.co/">Univirtual</a></li>
              <li><a class="dropdown-item colorLink" href="https://unisabaneta.edu.co">Unisabaneta</a></li>
            </ul>
          </li>
          <!-- directorio -->
          <li class="nav-item">
            <a class="nav-link colorLink"  routerLink="/directorio">directorio</a>
          </li>
          <!-- Aplicativos -->
          <li class="nav-item">
            <a class="nav-link colorLink"  routerLink="/aplicativos">Aplicativos</a>
          </li>
          <!-- sgsst -->
          <li class="nav-item">
            <a class="nav-link colorLink"  routerLink="/sgsst">SGSST</a>
          </li>
          <!-- Bienestar -->
          <li class="nav-item">
            <a class="nav-link colorLink"  routerLink="/bienestar">Bienestar</a>
          </li>
          <!-- Comunicados -->
          <li class="nav-item">
            <a class="nav-link colorLink"  routerLink="/comunicados">Comunicados</a>
          </li>
          <!-- Ingresar -->
          <li class="nav-item">
            <a class="nav-link colorLink" routerLink="/login" >Ingresar</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

